<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tk.zwander.lockscreenwidgets">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="com.huawei.android.totemweather.permission.ACCESS_WEATHERCLOCK_PROVIDER" />
    <uses-permission android:name="android.permission.ACCESS_WEATHERCLOCK_PROVIDER" />
    <uses-permission android:name="android.calendar.huawei.permission.CALENDAR_RECESS" />
    <uses-permission android:name="com.android.calendar.huawei.permission.CALENDAR_RECESS" />
    <uses-permission android:name="com.huawei.calendar.permission.WRITE_CALENDAR_RECESS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="tk.zwander.lockscreenwidgets.App">
        <activity android:name="tk.zwander.lockscreenwidgets.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tk.zwander.lockscreenwidgets.activities.add.AddFrameWidgetActivity"
            android:exported="true"
            android:label="@string/add_widget"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            />
        <activity android:name="tk.zwander.common.activities.add.AddTileWidgetActivity"
            android:exported="true"
            android:label="@string/add_widget"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            />
        <activity android:name="tk.zwander.common.activities.OnboardingActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            />
        <activity android:name="tk.zwander.lockscreenwidgets.activities.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            />
        <activity android:name="tk.zwander.common.activities.DismissOrUnlockActivity"
            android:exported="false"
            android:launchMode="singleInstancePerTask"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Null"
            />
        <activity android:name="tk.zwander.common.activities.HideForIDsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".activities.UsageActivity"
            android:exported="false"
            android:label="@string/usage"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name="tk.zwander.lockscreenwidgets.activities.add.ReconfigureFrameWidgetActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Null"
            android:excludeFromRecents="true"
            />
        <activity android:name="tk.zwander.widgetdrawer.activities.add.ReconfigureDrawerWidgetActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Null"
            android:excludeFromRecents="true"
            />
        <activity android:name="tk.zwander.widgetdrawer.activities.add.AddDrawerWidgetActivity"
            android:exported="false"
            android:label="@string/add_widget"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            />
        <activity android:name="tk.zwander.widgetdrawer.activities.TriggerActivity"
            android:label="@string/open_drawer"
            android:theme="@style/AppTheme.Null"
            android:exported="true"
            android:launchMode="singleInstancePerTask"
            />
        <activity-alias
            android:name=".activities.LaunchDrawer"
            android:targetActivity="tk.zwander.widgetdrawer.activities.TriggerActivity"
            android:launchMode="singleInstancePerTask"
            android:exported="true"
            android:label="@string/open_widget_drawer">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity-alias>
        <activity android:name="tk.zwander.common.activities.HideOnAppsChooserActivity"
            android:label="@string/settings_screen_hide_on_present_apps"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name="tk.zwander.common.activities.PermissionIntentLaunchActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Null"
            android:launchMode="singleInstancePerTask"
            android:excludeFromRecents="true"
            />
        <activity android:name=".activities.TaskerCanShowActivity"
            android:exported="true"
            android:label="@string/allow_show_frame"
            android:theme="@style/AppTheme.Null">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TaskerCanNotShowActivity"
            android:exported="true"
            android:label="@string/disallow_show_frame"
            android:theme="@style/AppTheme.Null">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TaskerForceShowActivity"
            android:exported="true"
            android:label="@string/force_show_frame"
            android:theme="@style/AppTheme.Null">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TaskerUnForceShowActivity"
            android:exported="true"
            android:label="@string/unforce_show_frame"
            android:theme="@style/AppTheme.Null">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TaskerIsAllowedToShowFrame"
            android:exported="true"
            android:label="@string/frame_allowed_to_show"
            android:theme="@style/AppTheme.Null">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TaskerIsShowingFrame"
            android:exported="true"
            android:label="@string/is_showing_frame"
            android:theme="@style/AppTheme.Null">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TaskerIsForceShowingFrame"
            android:exported="true"
            android:label="@string/frame_forced_to_show"
            android:theme="@style/AppTheme.Null">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>
        <activity android:name="tk.zwander.widgetdrawer.activities.TaskerShowDrawerActivity"
            android:exported="true"
            android:label="@string/open_drawer"
            android:theme="@style/AppTheme.Null">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name="tk.zwander.widgetdrawer.activities.TaskerHideDrawerActivity"
            android:exported="true"
            android:label="@string/close_widget_drawer"
            android:theme="@style/AppTheme.Null">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name="tk.zwander.widgetdrawer.activities.TaskerIsShowingDrawer"
            android:exported="true"
            android:label="@string/is_showing_drawer"
            android:theme="@style/AppTheme.Null">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>

        <service
            android:name="tk.zwander.lockscreenwidgets.services.Accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service android:name="tk.zwander.lockscreenwidgets.services.NotificationListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".services.IDWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="true"
            />
        <service
            android:name="tk.zwander.common.tiles.EnableDisableTile"
            android:label="@string/frame_enabled"
            android:icon="@drawable/ic_baseline_power_settings_new_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="tk.zwander.common.tiles.EnableDisableDrawerTile"
            android:label="@string/drawer_enabled"
            android:icon="@drawable/ic_baseline_power_settings_new_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="tk.zwander.common.tiles.NCTile"
            android:label="@string/tile_show_in_notification_center"
            android:icon="@drawable/ic_baseline_notifications_active_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="tk.zwander.common.tiles.widget.WidgetTileOne"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baseline_launch_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="tk.zwander.common.tiles.widget.WidgetTileTwo"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baseline_launch_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="tk.zwander.common.tiles.widget.WidgetTileThree"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baseline_launch_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="tk.zwander.common.tiles.widget.WidgetTileFour"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baseline_launch_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="tk.zwander.common.tiles.widget.WidgetTileFive"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baseline_launch_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver android:name=".appwidget.IDListProvider"
            android:label="@string/id_list"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/id_list_provider_info" />
        </receiver>

        <receiver android:name="tk.zwander.common.appwidget.OpenDrawerProvider"
            android:label="@string/open_drawer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/open_drawer_provider_info" />
        </receiver>

        <receiver android:name="tk.zwander.common.receivers.OpenDrawerReceiver"
            android:label="@string/open_drawer"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="${applicationId}.action.OPEN_DRAWER" />
            </intent-filter>
        </receiver>

        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="a7b3e6e6f38ef16b7c3e80cb689f78a3"/>
    </application>

</manifest>