<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tk.zwander.lockscreenwidgets">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="com.huawei.android.totemweather.permission.ACCESS_WEATHERCLOCK_PROVIDER" />
    <uses-permission android:name="android.permission.ACCESS_WEATHERCLOCK_PROVIDER" />
    <uses-permission android:name="android.calendar.huawei.permission.CALENDAR_RECESS" />
    <uses-permission android:name="com.android.calendar.huawei.permission.CALENDAR_RECESS" />
    <uses-permission android:name="com.huawei.calendar.permission.WRITE_CALENDAR_RECESS" />
    <uses-permission android:name="com.huawei.android.totemweather.permission.ACCESS_WEATHERCLOCK_PROVIDER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="tk.zwander.lockscreenwidgets.App">
        <activity android:name="tk.zwander.lockscreenwidgets.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tk.zwander.lockscreenwidgets.activities.add.AddWidgetActivity"
            android:exported="true"
            android:label="@string/add_widget"
            android:excludeFromRecents="true"
            />
        <activity android:name="tk.zwander.lockscreenwidgets.activities.add.AddTileWidgetActivity"
            android:exported="true"
            android:label="@string/add_widget"
            android:excludeFromRecents="true"
            />
        <activity android:name="tk.zwander.lockscreenwidgets.activities.OnboardingActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Intro"
            />
        <activity android:name="tk.zwander.lockscreenwidgets.activities.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            />
        <activity android:name=".activities.DismissOrUnlockActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Null"
            />
        <activity android:name=".activities.HideForIDsActivity"
            android:exported="false"
            />
        <activity android:name=".activities.UsageActivity"
            android:exported="false"
            android:label="@string/usage"
            />
        <activity android:name=".activities.add.ReconfigureWidgetActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Null"
            />
        <activity android:name="tk.zwander.widgetdrawer.activities.add.ReconfigureDrawerWidgetActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Null"
            android:excludeFromRecents="true"
            />
        <activity android:name="tk.zwander.widgetdrawer.activities.add.AddDrawerWidgetActivity"
            android:exported="false"
            android:label="@string/add_widget"
            android:excludeFromRecents="true"
            />
        <activity android:name="tk.zwander.widgetdrawer.activities.TriggerActivity"
            android:label="@string/open_drawer"
            android:theme="@style/AppTheme.Null"
            android:exported="true"
            android:launchMode="singleInstance"
            />
        <activity-alias
            android:name=".activities.LaunchDrawer"
            android:targetActivity="tk.zwander.widgetdrawer.activities.TriggerActivity"
            android:launchMode="singleInstance"
            android:exported="true"
            android:label="@string/open_widget_drawer">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity-alias>

        <service
            android:name="tk.zwander.lockscreenwidgets.services.Accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service android:name="tk.zwander.lockscreenwidgets.services.NotificationListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".services.IDWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="true"
            />
        <service
            android:name=".tiles.EnableDisableTile"
            android:label="@string/frame_enabled"
            android:icon="@drawable/ic_baseline_power_settings_new_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.EnableDisableDrawerTile"
            android:label="@string/drawer_enabled"
            android:icon="@drawable/ic_baseline_power_settings_new_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.NCTile"
            android:label="@string/tile_show_in_notification_center"
            android:icon="@drawable/ic_baseline_notifications_active_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.widget.WidgetTileOne"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baseline_launch_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.widget.WidgetTileTwo"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baseline_launch_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.widget.WidgetTileThree"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baseline_launch_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.widget.WidgetTileFour"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baseline_launch_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.widget.WidgetTileFive"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baseline_launch_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver android:name=".appwidget.IDListProvider"
            android:label="@string/id_list"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/id_list_provider_info" />
        </receiver>

        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
    </application>

</manifest>